.core {
  width: max-content;
}
.top,
.toggle {
  display: flex;
  align-items: center;
}
.top {
  gap: 12px;
  color: hsl(var(--color-hsl-icon));
}
.toggle {
  gap: 8px;
}
.value {
  color: hsl(var(--color-hsl-primary));
  font-size: 14px;
}
.toggle,
.arrow {
  &:hover {
    color: hsl(var(--color-hsl-primary));
  }
}
.arrow {
  width: 16px;
  height: 24px;
}
.calendarIcon {
  width: 16px;
  height: 16px;
  display: flex;
}
